<script setup lang="ts">
import { ref } from 'vue';

const awesome = ref(true)
function toggen(){
    awesome.value = !awesome.value
}
</script>
<template>
    <button @click="toggen()">toggen {{awesome}}</button>
    <h1 v-if="awesome">Vue is awesome</h1>
    <h1 v-else>Oh on</h1>
</template>
<style scoped>
</style>